<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>A6t Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>A6t action.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Notification - emergenc6-watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>a6t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>emergenc6-watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84DFC3661C49293100C53303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DFC37F1C49293200C53303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DFC38A1C49293200C53303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC3030AE1C4A390C00DB59B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC3030BF1C4A7ED000DB59B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC38D9371C499B24000B5901</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
